/** winter 主题下的变量 */

// 主题名称
$theme-name: "winter";
// 主题背景颜色
$theme-bg-color: #effffd;
// 主题背景图片
$theme-bg: transparent url("../../../../static/theme-bg/backgroundImg5.webp") no-repeat fixed center;
// 主题色
$theme-color: #c5d8a4;
// 默认文字颜色
$font-color: #333333;
// active 状态下文字颜色
$active-font-color: #000000;
// hover 状态下文字颜色
$hover-color: #000000;
// 边框颜色
$border-color: #303133;
